# Python関連
__pycache__/
*.pyc
*.pyo
*.pyd

# 仮想環境
venv/
ENV/
env/

# ビルド・配布関連
src/dist/
src/build/
src/*.egg-info/
src/*.spec

# 仮想環境
venv/
ENV/
env/

# ログファイル
src/CrystalDiskInfo/CdiResource/
src/CrystalDiskInfo/License
src/CrystalDiskInfo/Smart
src/CrystalDiskInfo/DiskInfo.ini
src/CrystalDiskInfo/DiskInfo32.exe
src/CrystalDiskInfo/DiskInfo64.exe
src/CrystalDiskInfo/DiskInfoA64.exe
src/CrystalDiskInfo/ReadMe.txt

# IDE関連
.vscode/
.idea/

# OS関連
.DS_Store
Thumbs.db
