# Python関連
__pycache__/
*.pyc
*.pyo
*.pyd
**/__pycache__/

# 仮想環境
venv/
ENV/
env/

# ビルド・配布関連
src/dist/
src/build/
src/*.egg-info/
src/*.spec
dist/
build/
*.spec

# 仮想環境
venv/
ENV/
env/

# ログファイル
src/CrystalDiskInfo/CdiResource/
src/CrystalDiskInfo/License
src/CrystalDiskInfo/Smart
src/CrystalDiskInfo/DiskInfo.ini
src/CrystalDiskInfo/DiskInfo32.exe
src/CrystalDiskInfo/DiskInfo64.exe
src/CrystalDiskInfo/DiskInfoA64.exe
src/CrystalDiskInfo/ReadMe.txt
*.txt

# IDE関連
.vscode/
.idea/
.github/

# OS関連
.DS_Store
Thumbs.db

# 
*.mp4